.App {
  text-align: center;
}

.App-logo {
  width: 15%;
  text-align: center;
}

.App-header {
  background-color: rgb(60, 0, 172);
  height: auto;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 25px;
}

.App-intro {
  font-size: large;
}
@import url('https://fonts.googleapis.com/css?family=Poor+Story');
